body {
    background-color:#f8f8f8;
}

a {
         text-decoration: none !important;
}

.alert-success, .alert-message{
        color: #03A9F4;
        background-color: white;
        border-color: #03A9F4;
}

.alert-danger{
        color: firebrick;
        background-color: white;
        border-color: firebrick;
}

.alert-note{
        color: darkorange;
        background-color: white;
        border-color: darkorange;
}

.btn-primary{
        color: white;
        background-color: #03A9F4;
        border-color: white;
}

.btn-primary:hover {
        color: #03A9F4;
        background-color: white;
        border-color: #03A9F4;
}

@media screen and (max-width: 767px) {
    .btn-signin {
        width: 100%;
    }
} 

.form-control{
        font-size: small;
        color: #03A9F4;
        border-radius: 20px;
}

.jumbotron {
        color: white;
        background-color: #03A9F4;
}

.navbar {
        background-color:white;
}

.navbar-brand {
        color: #03A9F4 !important;
        font-weight: 100;
        font-size: xx-large;
}

.Brand-image {
        padding: 5px;
        margin-left: -15px;
}
 
#footer-div {
        background: white;
        min-height: 50px;
        margin-top: 20px;
        border: 1px solid #e7e7e7;
        border-radius: 5px;
}

.fa {
        color:#03A9F4;
}

article {
        background: white;
        color: #03A9F4;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px 30px;
        margin-bottom: 25px;
}

.tweet-content {
        margin-top: 15px;
        font-weight: 500;
}

textarea {
        font-weight: 100;
        font-size: larger !important;
}

.btn-tweet {
    min-width: 350px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-weight: 100;
    font-size: large;
}

.popover.bottom {
    color: white;
    font-weight: 200;
    background-color: #03A9F4;
}

.popover.bottom>.arrow:after {
    border-bottom-color: #03A9F4;
}

