{% extends 'base.html' %}

{% block title %}
    @{{ user.username }} | {{ super() }}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2>{{ user.name }} </h2>
        <h4> @{{ user.username }} </h4>
        <h5> Joined on: {{ user.joined_at.strftime('%d-%m-%Y') }} </h4>
    </div>

    <div>
        {% for tweet in user.tweets %}
            <article>
                <h2>@{{ tweet.user.username }}</h2>
                <i class="fa fa-clock-o" aria-hidden="true"></i><span> {{ tweet.timestamp.strftime('%d-%m-%Y %H:%M:%S') }} </span>
                <p>{{ tweet.content }}</p>
            </article>
        {% endfor %}
    </div>
{% endblock %}
