{% extends 'base.html' %}

{% block title %}
    Welcome to {{ super() }}
{% endblock %}

{% block content %}
    {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="jumbotron" style="color: white;background-color: #03A9F4;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h1 style="font-weight:100;">Welcome to tweeter</h1>
                        <p>tweeter helps you share your feelings with people around the world!</p>
                        <img src="/static/img/home.png" style="max-width:100%;padding: 15px;">
                    </div>
                </div>
                <div class="col-md-4">
                    <form style="padding-top:25px;" action="{{ url_for('signup') }}" method="POST">
                        {{ form.hidden_tag() }}
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span style="font-size: x-small;color: firebrick;"> {{ error }} </span>
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">
                                {{ 
                                    field(
                                        placeholder=field.label.text.capitalize(),
                                        class='form-control',
                                        id=field.label.text,
                                        style='color:#03A9F4'
                                    )
                                }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
