{% extends 'base.html' %}

{% block title %}
    Welcome to {{ super() }}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h1 style="font-weight:100;">Welcome to tweeter</h1>
                        <p>tweeter helps you share your feelings with people around the world!</p>
                        <img src="/static/img/home.png" style="max-width:100%;padding: 15px;">
                    </div>
                </div>
                <div class="col-md-4">
                    <form style="padding:25px 0px;" action="{{ url_for('signup') }}" method="POST">
                        {{ signup_form.hidden_tag() }}
                        {% for field in signup_form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span style="font-size: x-small;color: firebrick;"> {{ error }} </span>
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">
                                {{ 
                                    field(
                                        placeholder=field.label.text.capitalize(),
                                        class='form-control',
                                        id=field.label.text,
                                    )
                                }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <footer class="footer navbar-fixed-bottom">
      <div align="center" class="container">
          <div id="footer-div">
              <p class="text-muted" style="margin-top:15px;">
                  Created by Utkarsh Gupta
                  <br>
                  <span>
                      <a href="https://www.fb.com/UtkarshPramodGupta" target="_blank">
                          <i class="fa fa-facebook fa-1x"></i>
                      </a> | 
                      <a href="https://www.github.com/UtkarshPramodGupta" target="_blank">
                          <i class="fa fa-github fa-1x"></i>
                      </a> | 
                      <a href="https://www.linkedin.com/in/UtkarshPramodGupta" target="_blank">
                          <i class="fa fa-linkedin fa-1x"></i>
                      </a> 
                  </span>
              </p>
          </div>
      </div>
    </footer>
{% endblock %}
