{% extends 'base.html' %}

{% block title %}
    Trending tweets | {{ super() }}
{% endblock %}

{% block content %}
    <div>
        {% for tweet in tweets %}
            <article>
                <h2>@<a href="{{ url_for('index', username=tweet.user.username) }}">{{ tweet.user.username }}</a></h2>
                <p class="tweet-content">{{ tweet.content }}</p>
                <div align="right"><i class="fa fa-clock-o" aria-hidden="true"></i><span> {{ tweet.timestamp.strftime('%d-%m-%Y %H:%M:%S') }} </span></div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

