{% extends 'base.html' %}

{% block title %}
    Tweet | {{ super() }}
{% endblock %}

{% block content %}
<div>
<form method="POST" action="">
    {% for field in tweet_form %}
    {{ tweet_form.hidden_tag() }}
        {% if field.errors %}
            {% for error in field.errors %}
                <span style="font-size: x-small;color: firebrick;"> {{ error }} </span>
            {% endfor %}
        {% endif %}
        <div class="form-group">
            {{ field(placeholder=field.label.text, class='form-control') }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div>
{% endblock %}
